body {
    background-color: rgb(66, 66, 66);
    color: rgb(192, 191, 191);
    padding-right: 15%;
    padding-left: 15%;
    font-family: dejavu;
    font-size: 21px;
}

p {
    padding-left: 50px;
}

h3 {
    color: rgba(255, 238, 0, 0.712);
}

h2 {
    color: rgb(0, 204, 255);
}

h1 {
    color: rgb(255, 238, 0);
}